body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.content {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  padding: 8px 15px;
  font-size: 25px;
  cursor: pointer;
}
